Source: cgabackup
Section: net
Priority: extra
Maintainer: Mathias Ertl <mati@fsinf.at>
Build-Depends: debhelper (>= 9), git-core
Standards-Version: 3.8.4
Homepage: https://github.com/plepe/CGA-Backup
VCS-Browser: https://git.fsinf.at/apt/cga-backup
VCS-Git: https://git.fsinf.at/apt/cga-backup.git

Package: cgabackup
Architecture: all
Depends: perl, ${shlibs:Depends}, ${misc:Depends}
Conflicts: cga-backup-client
Description: Backup script written in perl (client)
 CGA-Backup is a backup script developed for use at the Institute of
 Computergraphics and Algorithms of Vienna University of Technology.

Package: cgabackup-server
Architecture: all
Depends: perl, ${shlibs:Depends}, ${misc:Depends}
Conflicts: cga-backup-server
Description: Backup script written in perl (server)
 CGA-Backup is a backup script developed for use at the Institute of
 Computergraphics and Algorithms of Vienna University of Technology.
