#!/usr/bin/make -f

SDIR=${CURDIR}/debian/cga-backup-server/
CDIR=${CURDIR}/debian/cga-backup-client/

%:
	dh $@

override_dh_install:
	dh_install

	# install client files:
	mv ${SDIR}etc/cga-backup/cgabackup-server.conf-dist ${SDIR}etc/cga-backup/server.conf
	mv ${CDIR}etc/cga-backup/cgabackup.conf-dist ${CDIR}etc/cga-backup/client.conf
