#!/usr/bin/make -f

SDIR=${CURDIR}/debian/cgabackup-server/
CDIR=${CURDIR}/debian/cgabackup/

%:
	dh $@

override_dh_install:
	dh_install

	# install client files:
	mv ${SDIR}etc/cgabackup/cgabackup-server.conf-dist ${SDIR}etc/cgabackup/server.conf
	mv ${CDIR}etc/cgabackup/cgabackup.conf-dist ${CDIR}etc/cgabackup/client.conf
