Source: cga-backup
Section: net
Priority: extra
Maintainer: Mathias Ertl <apt-repository@fsinf.at>
Build-Depends: debhelper (>= 7), git-core
Standards-Version: 3.8.4
Homepage: http://gitorious.org/cga-backup

Package: cga-backup-client
Architecture: any
Depends: perl, ${shlibs:Depends}, ${misc:Depends}
Description: Backup script written in perl (client)
 CGA-Backup is a backup script developed for use at the Institute of
 Computergraphics and Algorithms of Vienna University of Technology.

Package: cga-backup-server
Architecture: any
Depends: perl, ${shlibs:Depends}, ${misc:Depends}
Description: Backup script written in perl (server)
 CGA-Backup is a backup script developed for use at the Institute of
 Computergraphics and Algorithms of Vienna University of Technology.
